.board {
    display: inline-block;
    width: var(--board-width);
    box-shadow: lightgrey 0 4px var(--borad-margin) 0;
    margin: var(--borad-margin);
    border-radius: 0.2rem;
}

.board:hover {
    transform: translate(0, -10px);
    transition-duration: 0.5s;
}

.image {
    height: 167px;
    overflow: hidden;
}

.background-color-lightgrey{
    background-color: lightgrey;
}

.image > img {
    width: 100%;
}

@media (max-width: 1056px) {
    .board {
        width: calc(50% - 2rem);
    }

    .image {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .image-wrap {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 52.19206680584551%;
    }
}

@media (max-width: 752px) {
    .board {
        width: calc(100% - 2rem);
    }
}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: var(--borad-margin);
    height: 133px;
}

.content-text {
    flex: 1;
}

.content-title {
    margin: 0 0 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
}

.content-content {
    margin: 0;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.content-info {
    float: bottom;
    height: 18px;
}

.footer {
    border-top: 1px solid lightgrey;
    padding: 10px var(--borad-margin);
    height: 24px;
}

.writer-info {
    float: left;
}

.thumbNail {
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 0.5rem 0 0;
}

.footer-heart {
    float: right;
}