.header-wrap {
    margin: auto;
    width: 80%;
    height: 109px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo-box {
    margin: 5px;
}

.logo-button {
    font-size: 2rem;
    border: transparent;
    background-color: transparent;
    font-weight: bold;
}

.login-box {
    margin: 5px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.section {
    margin: 5px 10px;
}

.menu {
    margin: 5px 10px;
}

.example-button {
    font-size: 1rem;
    border: transparent;
    background-color: transparent;
    font-weight: bold;
}

.menu-board {
    right: 0;
    margin-right: 10%;
    background: white;
    border: 1px solid lightgrey;

    position: absolute;
    z-index: 50;

    box-shadow: lightgrey 0 0 8px 0;
}

.menu-board > button {
    display: block;
    font-size: 1rem;
    border: transparent;
    background-color: transparent;
    font-weight: bold;

    padding: 0.5rem 1rem;
}

.menu-board > button:hover {
    color: rgb(200, 200, 200);
}