.header-top {
    display: flex;
    justify-content: space-between;
}

.left {
    margin: 1px 3px;
}

.left > button {
    font-size: 1rem;
    border: transparent;
    background-color: transparent;
    font-weight: bold;
}

.left > .logo {
    font-size: 2rem;
}

.right {
    margin: 1px 3px;
    display: flex;
    position: relative;
    align-items: center;
}

.right > div > button {
    font-size: 1rem;
    border: transparent;
    background-color: transparent;
    font-weight: bold;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}