.post-input {
    float: left;
    padding: 0 10px 0 20px;
    width: calc(50% - 50px);

    display: flex;
    flex-direction: column;
}

.post-output {
    float: right;
    padding: 0 20px 0 10px;
    width: calc(50% - 50px);
    background-color: rgb(250, 250, 250);
}

.post-content {
    flex: 1;
}

.content-textarea {
    overflow-y: hidden;
    resize: none;
    font-size: 1rem;
}

.post-text-input {
    width: 100%;
    border: none;
    margin: 1rem 0;
}

.post-text-input:focus {
    outline: none;
}

.title-input {
    height: 50px;
    font-weight: bolder;
    font-size: 1.5rem;
}

.subTitle-input {
    height: 30px;
    font-weight: bolder;
    font-size: 1.2rem;
}