.post-input {
    float: left;
    margin: 0 0 0 calc(var(--borad-margin) * 2);
    padding: 0 var(--borad-margin);
    width: calc(50% - var(--borad-margin) * 4);

    display: flex;
    flex-direction: column;
}

.post-output {
    float: right;
    margin: 0 calc(var(--borad-margin) * 2) 0 0;
    padding: 0 var(--borad-margin);
    width: calc(50% - var(--borad-margin) * 4);
    height: 1120px;
    overflow: scroll;
    background-color: rgb(250, 250, 250);
}

.post-content {
    flex: 1;
}

.content-textarea {
    height: 900px;
}

.post-text-input {
    width: 100%;
    border: none;
    margin: 1rem 0;
}

.post-text-input:focus {
    outline: none;
}

.title-input {
    height: 50px;
    font-weight: bolder;
    font-size: 1.5rem;
}

.subTitle-input {
    height: 30px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.save-button {
    position: fixed;
    left: 50%;
    bottom: calc(var(--borad-margin) * 2);
}