:root {
    --sidebar-width: 50px;
    --sidebar-margin: 20px;
}

.sidebar {
    width: var(--sidebar-width);
    height: 150px;
    border: 1px solid darkgrey;
    border-radius: var(--sidebar-width);
    background-color: darkgrey;
}

.sidebar-fix {
    margin-top: 10px;
    position: fixed;
}

.sidebar-absolute {
    margin-top: 310px;
    position: absolute;
}

.sidebar-left {
    margin-left: calc(calc(var(--sidebar-width) + var(--sidebar-margin)) * -1);
}

.post-body {
}

.sidebar-right {
    margin-left: calc(var(--post-width) + var(--sidebar-margin));
}

@media (max-width: 1056px) {
    .sidebar {
        visibility: hidden;
    }
}