.header-top {
    display: flex;
    justify-content: space-between;
}

.header-left {
    margin: 1px 3px;
}

.header-right {
    margin: 1px 3px;
    display: flex;
    position: relative;
    align-items: center;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}