:root {
    --board-width: 314px;
    --borad-margin: 16px;
    --borad-total-width: calc(var(--board-width) + var(--borad-margin) * 2);
}

.App {
}

button:hover {
    cursor: pointer;
}

#header {
    margin: auto;
    width: calc(var(--borad-total-width) * 5);
    height: 109px;
}

#HomeBody {
    margin: 0 auto;
    display: flex;
    width: calc(var(--borad-total-width) * 5);
}

@media (max-width: 1919px) {
    #header {
        width: calc(var(--borad-total-width) * 4);
    }

    #HomeBody {
        width: calc(var(--borad-total-width) * 4);
    }
}

@media (max-width: 1440px) {
    #header {
        width: calc(var(--borad-total-width) * 3);
    }

    #HomeBody {
        width: calc(var(--borad-total-width) * 3);
    }
}

@media (max-width: 1056px) {
    #header {
        width: 100%;
    }

    #HomeBody {
        width: 100%;
    }
}