:root {
    --board-width: 314px;
    --borad-margin: 16px;
    --borad-total-width: calc(var(--board-width) + var(--borad-margin) * 2);
    --body-margin-top: 110px;
    --post-width: 768px;

    --header-z-index: 899;
}

.App {
}

.Body {
    padding-top: var(--body-margin-top);
}

.Post {
    width: var(--post-width);
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

.Header {
    z-index: var(--header-z-index);
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;

    width: calc(var(--borad-total-width) * 5);
    background-color: white;
    height: calc(var(--body-margin-top) - 20px);

    border-bottom: 1px solid lightgrey;
}

.Home {
    margin: 0 auto;
    display: flex;
    width: calc(var(--borad-total-width) * 5);
}

.My-Setting {
    text-align: center;
}

@media (max-width: 1919px) {
    .Header {
        width: calc(var(--borad-total-width) * 4);
    }

    .Home {
        width: calc(var(--borad-total-width) * 4);
    }
}

@media (max-width: 1440px) {
    .Header {
        width: calc(var(--borad-total-width) * 3);
    }

    .Home {
        width: calc(var(--borad-total-width) * 3);
    }
}

@media (max-width: 1056px) {
    .Header {
        width: 100%;
    }

    .Home {
        width: 100%;
    }

    .Post {
        width: 100%;
    }
}