:root {
    --board-width: 314px;
    --borad-margin: 16px;
    --borad-total-width: calc(var(--board-width) + var(--borad-margin) * 2);
    --body-margin-top: 110px;
}

.App {
}

.Body {
    padding-top: var(--body-margin-top);
}

button:hover {
    cursor: pointer;
}

#header {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;

    width: calc(var(--borad-total-width) * 5);
    background-color: wheat;
    height: 109px;
}

#homeBody {
    margin: 0 auto;
    display: flex;
    width: calc(var(--borad-total-width) * 5);
}

#mySetting {
    text-align: center;
}

@media (max-width: 1919px) {
    #header {
        width: calc(var(--borad-total-width) * 4);
    }

    #homeBody {
        width: calc(var(--borad-total-width) * 4);
    }
}

@media (max-width: 1440px) {
    #header {
        width: calc(var(--borad-total-width) * 3);
    }

    #homeBody {
        width: calc(var(--borad-total-width) * 3);
    }
}

@media (max-width: 1056px) {
    #header {
        width: 100%;
    }

    #homeBody {
        width: 100%;
    }
}